*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  /* background-color: red; */
}

.form-block{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 77, 77);
  background-image: linear-gradient(rgba(38, 0, 255, 0.742) yellow);
  height: 100vh;
}
.form-block>form{

  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px 20px;
  gap: 20px;
  text-align: center;
  border: 5px solid black;
}
.form-block> form >label{
 font-size: 30px;
}
.form-block> form >input{
  padding: 10px 10px;
  font-size: 22px;
}
.form-block> form >button{
  font-size: 20px;
  padding: 5px 20px;
}